
*{
	text-decoration: none;

}

.navbar{
	background: #507687;
	font-family: calibri;
	padding-left: 15px;
	padding-right: 15px;

}
.navdiv{
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.logo a{
	font-weight: 600;
	font-size: 36px;
	color: black;
}
 li {
 	display: inline-block;
 	list-style: none;
 }
 li a{
 	font-size: 18px;
 	color: black;
 	font-weight: bold;
 	margin-right: 25px;
 }

 .sect-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    background-color: #f4f4f4; /* Optional: background color for hero section */
}

.sect-div h1 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: black;
    padding-top: 30px;
}

.sect-div h5 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #697565;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    margin: 20px auto;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    border: 1px solid black;

}

h2 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.projects, .work-experience, .education {
    
    padding: 15px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.education ul li {
    margin: 10px 0;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.experience {
    margin-bottom: 20px;
}

.education ul li {
    margin-bottom: 5px;
}

section{
	border-bottom: 2px solid black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin-bottom: 40px;
    font-size: 24px;
}

.testimonial-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
}

.testimonial-box {
    width: 250px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}

.quote {
    font-size: 16px;
    margin-bottom: 20px;
}

.author {
    font-size: 14px;
    color: grey;
    font-weight: bold;
}

footer {
    margin-top: 40px;
}

footer p {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 18px;
    text-align: center;
}
